.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #121417;
  overflow: hidden;
}

.dashboard {
  flex: 1;
  display: grid;
  grid-template-columns: 330px 1fr; 
  gap: 70px; 
  padding: 40px;
  height: 100%;
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;
}

.leftCol {
  display: grid;
  gap: 65px;
  height: 100%;
}


.rightCol {
  display: grid;
  gap: 60px;
  height: 100%;
}

.leftCol {
  grid-template-rows: auto 1fr; 
}

.rightCol {
  grid-template-rows: 1.6fr 1fr; 
}

.card {
  background-color: #1e2126;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.cardTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #fff;
}