.mobileHeader {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 20px;
}

.logoGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  color: #48CB9F;
  font-size: 22px;
  font-weight: 600;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .mobileHeader {
    display: flex;
  }
}